:root {
    --bg-color: #c5c5c5;
    --switches-bg-color: #314ad4;
    --switches-label-color: white ;
    --switch-bg-color: white;
    --switch-text-color: #314ad4 ;
    --switch-bg-dark-color: #1e39d3;
    --text: #F3F3F3;
    --background: #6B6B6B;
    --backgroundSecondary: #3C3C3C;
    --border: #0f0f0f;
    --boxShadow: rgba(0, 0, 0, 0.5);
}

.calendar-container {
    background: var(--background);
    color: var(--text);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    box-shadow: 0 0 15px var(--boxShadow);
    scrollbar-width: none;
}

.switches-container {
    width: 80%;
    position: relative;
    display: flex;
    padding: 0;
    position: relative;
    background: linear-gradient(var(--backgroundSecondary), #2b2b2b);
    line-height: 3rem;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

/* input (radio) for toggling. hidden - use labels for clicking on */
.switches-container input {
    visibility: hidden;
    position: absolute;
    top: 0;
}

/* labels for the input (radio) boxes - something to click on */
.switches-container label {
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    color: var(--switches-label-color);
    font-size: 1.5rem;
}

/* switch highlighters wrapper (sliding left / right) 
    - need wrapper to enable the even margins around the highlight box
*/
.switch-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    padding: 0.15rem;
    z-index: 3;
    transition: transform .5s cubic-bezier(.77, 0, .175, 1);
    /* transition: transform 1s; */
}

/* switch box highlighter */
.switch {
    border-radius: 1rem;
    background: var(--text);
    height: 100%;
}

/* switch box labels
    - default setup
    - toggle afterwards based on radio:checked status 
*/
.switch div {
    width: 100%;
    text-align: center;
    opacity: 0;
    display: block;
    font-size: 1.5rem;
    color: var(--backgroundSecondary) ;
    transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
    will-change: opacity;
    position: absolute;
    top: 0;
    left: 0;
}

/* slide the switch box from right to left */
.switches-container input:nth-of-type(1):checked~.switch-wrapper {
    transform: translateX(0%);
}

/* slide the switch box from left to right */
.switches-container input:nth-of-type(2):checked~.switch-wrapper {
    transform: translateX(96%);
}

/* toggle the switch box labels - first checkbox:checked - show first switch div */
.switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
    opacity: 1;
}

/* toggle the switch box labels - second checkbox:checked - show second switch div */
.switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
    opacity: 1;
}
.work-container, .study-container{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
h1{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    -webkit-text-fill-color: var(--text);
    -webkit-text-stroke-color: var(--border);
    -webkit-text-stroke-width: 2px;
}

.calendar-button {
    cursor: pointer;
    height: 50px;
    width: 25%;
    min-width: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #3C3C3C;
    background: #F3F3F3;
    font-size: 1.5rem;  
    border: none;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.card-item {
  position: relative;
  background: var(--backgroundSecondary);
  border: 2px solid var(--border);
  border-radius: 8px;
  height: 250px;
  max-width: 100%;
  min-height: 50px;
  z-index: 1;
  width: 80%;
}
.experience-item:not(:last-child) {
  margin-bottom: 3rem;
}

.float-item {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    left: -5px;
    bottom: 10px;
    right: 5px;
    top: -10px;
    z-index: 2;
}

.item-title {
    -webkit-text-fill-color: var(--text);
    -webkit-text-stroke-color: var(--border);
    -webkit-text-stroke-width: 1px;
    margin: 0;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.item-description {
    position: relative;
    text-align: justify ;
    padding: 20px;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text);
    bottom: 5px;
    right: 5px;
    margin-top: 0;
}
.date-end-item, .date-start-item {
  position: absolute;
  font-size: 1.5rem;
  color: var(--backgroundSecondary);
  background: var(--text);
  border-radius: 10px 0px 0px 10px;
  right: 0rem;
  padding: 0.5rem;
  border: 1px solid var(--border);
}
.date-start-item {
  bottom: 1rem;
}
.date-end-item {
    top: 1rem;
}

@media screen and (max-width: 768px) {
    .calendar-container {
      width: 90vw !important;
      height: 90vh !important;
    }
    .switches-container {
      width: 90%;
    }
    .switches-container label {
      font-size: 1rem;
    }
    .switch div {
      font-size: 1rem;
    }
    .calendar-button {
      width: 50%;
    }
    .experience-item {
      width: 90%;
    }
    .card-item {
      width: 90%;
    }
    .item-description {
      font-size: 0.8rem;
    }
    .date-end-item, .date-start-item {
      font-size: 1rem;
        z-index: 100;    }
}