:root {
    --text: #F3F3F3;
    --primary: #6B6B6B;
    --backgroundOpacity: #6B6B6BEE;
    --secondary: #3C3C3C;
    --callAction: #603870;
    --border: #0f0f0f;
    --boxShadow: rgba(0, 0, 0, 0.5);
    --font: 'Poppins', sans-serif;
    --font-size: 1;
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background: var(--primary);
    color: var(--text);
    text-align: center;
    border-radius: 10px;
    overflow: auto;
}

.header-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px 20px 25px;
}

.project-name {
    font-size: calc(4rem * var(--font-size));
    font-weight: bold;
    -webkit-text-fill-color: var(--text);
    -webkit-text-stroke-color: var(--border);
    -webkit-text-stroke-width: 2px;
}

.project-image {
    width: 100px;
    height: auto;
}

.project-description-container {
    position: relative;
    background: var(--secondary);
    border: 2px solid var(--border);
    border-radius: 8px;
    height: 200px;
    max-width: 100%;
    min-height: 50px;
    z-index: 1;
}

.float {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    left: -5px;
    bottom: 10px;
    right: 5px;
    top: -10px;
    z-index: 2;
}

.project-description {
    position: relative;
    text-align:justify ;
    padding: 25px;
    font-size: calc(1.5rem * var(--font-size));
    line-height: 1.6;
    color: var(--text);
    bottom: 5px;
    right: 5px;
}

.tag-item-container {
    position: relative;
    background: var(--secondary);
    border: 2px solid var(--border);
    border-radius: 6px;
    height: 50px;
    min-height: 50px;
    z-index: 1;
    width: 25%;
}
.tag-item {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    left: -7.5px;
    bottom: 7.5px;
    right: 7.5px;
    top: -7.5px;
    z-index: 2;
    width: 100%;
}
.project-tags {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: calc(1.5rem * var(--font-size));
}

.demo-container {
    width: 100%;
    height: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.demo-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #603870;
    border: 2px solid var(--border);
    color: var(--text);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
    height: 100%;
    box-shadow: 0 0 10px 0 var(--boxShadow);
}

.source-button {
    background-color: var(--secondary);
    color: var(--text);
    padding: 10px 20px;
    border: 2px solid var(--border);
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    height: 100%;
    box-shadow: 0 0 10px 0 var(--boxShadow);
}

.github-icon {
    width: 50px;
    height: 50px;
}

.play-icon {
    width: auto;
    height: 50px;
}

.project-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 0 10px;
}

.next-button, .prev-button {
    height: 60px;
    width: 60px;
    background-color: var(--text);
    border: 2px solid var(--border);
    color: var(--primary);
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px 0 var(--boxShadow);
}

.next-button:hover, .prev-button:hover {
    background-color: #d3d3d3;
    z-index: 10000;
}

@media screen and (max-width: 768px){
    .project-container {
        padding: 10px;
        width: 90vw !important;
        height: 90vh !important;
    }
    .project-name {
        font-size: calc(2.5rem * var(--font-size));
    }
    .project-description {
        font-size: calc(1.2rem * var(--font-size));
    }
    .project-tags {
        font-size: calc(1.2rem * var(--font-size));
    }
    .tag-item-container {
        height: 40px;
        min-height: 40px;
    }
    .tag-item {
        bottom: 5px;
    }
    .project-buttons {
        margin: 0 5px 0 5px;
    }
    .next-button, .prev-button {
        height: 50px;
        width: 50px;
    }
}