:root {
    --text: #F3F3F3;
    --primary: #6B6B6B;
    --backgroundOpacity: #6B6B6BEE;
    --secondary: #3C3C3C;
    --callAction: #603870;
    --border: #0f0f0f;
    --boxShadow: rgba(0, 0, 0, 0.5);
    --font: 'Poppins', sans-serif;
    --font-size: 1;
  }

body {
    margin: 0;
    font-family: var(--font);
}

.center-btn {
    position: absolute;
    background-color: var(--primary);
    border-radius: 10px;
    width: 10%;
    min-width: 200px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: var(--text);
    box-shadow: 0px 0px 15px 0px var(--secondary) inset;
    transition: all 0.2s ease;
}
.center-btn:hover {
    box-shadow: 0px 0px 15px 0px var(--secondary) inset;
    background-color: var(--secondary);
}
.help-btn {
  position: absolute;
  background-color: var(--callAction);
  border-radius: 10px;
  width: 10%;
  min-width: 200px;
  height: 40px;
  bottom: 80px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  color: var(--text);
  box-shadow: 0px 0px 15px 0px #a984b9 inset;
  transition: all 0.2s ease;
}
.help-btn:hover {
    box-shadow: 0px 0px 15px 0px var(--secondary) inset;
    background-color: var(--secondary);
}
#loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.loading-text {
    position: absolute;
    color: var(--text);
    font-size: calc(30px * var(--font-size));
    font-weight: bold;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}
.info-text {
    position: absolute;
    color: #d8d8d8;
    font-size: calc(25px * var(--font-size));
    font-weight: bold;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}
.button {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    height: 80px;
    width: 260px;
    z-index: 9999;
  }
  
  .button-skip {
    height: 80px;
    width: 260px;
    border: none;
    border-radius: 13px;
    background-color: var(--callAction);
    box-shadow: 0px -3px 15px 0px #a984b9 inset;
    color: var(--text);
    font-size: calc(2.5rem * var(--font-size));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateY(0px);
    transition: all 0.2s ease;
    cursor: pointer;
  }
.button-skip:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px 0px var(--primary) inset;
  }
  

.kinetic {
    height: 80px;
    position: relative;
    width: 80px;
  }
  
  .kinetic::after,
  .kinetic::before {
    animation: rotateA 2s linear infinite 0.5s;
    border: 50px solid transparent;
    border-bottom-color: var(--callAction);
    box-shadow: 0px -3px 15px 0px var(--secondary) inset;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
  }
  
  .kinetic::before {
    animation: rotateB 2s linear infinite;
    transform: rotate(90deg);
  }
  .helper-container {
    position: absolute;
    width: 70%;
    height: 70%;
    min-height: 300px;
    min-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--backgroundOpacity);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px var(--secondary);
    border-radius: 10px;
    color: var(--text);
    font-size: calc(1.5rem * var(--font-size));  
  }
  .helper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .helper-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .helper-button {
    margin-top: 20px;
    font-size: calc(1rem * var(--font-size));
    width: 50%;
    min-width: 200px;
    height: 50px;
    background-color: var(--callAction);
    border: 2px solid var(--border);
    color: var(--text);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  @keyframes rotateA {
    0%,
    25% {
      transform: rotate(0deg);
    }
    50%,
    75% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotateB {
    0%,
    25% {
      transform: rotate(90deg);
    }
    50%,
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(450deg);
    }
  }
  