:root {
    --text: #F3F3F3;
    --primary: #6B6B6B;
    --backgroundOpacity: #6B6B6BFF;
    --secondary: #3C3C3C;
    --callAction: #603870;
    --border: #0f0f0f;
    --boxShadow: rgba(0, 0, 0, 0.5);
    --font: 'Poppins', sans-serif;
    --font-size: 1;
  }

body {
    margin: 0;
    font-family: var(--font);
}

.center-btn {
    position: absolute;
    background-color: var(--primary);
    border-radius: 10px;
    width: 10%;
    min-width: 200px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: var(--text);
    box-shadow: 0px 0px 15px 0px var(--secondary) inset;
    transition: all 0.2s ease;
}
.center-btn:hover {
    box-shadow: 0px 0px 15px 0px var(--secondary) inset;
    background-color: var(--secondary);
}
.help-btn {
  position: absolute;
  background-color: var(--callAction);
  border-radius: 10px;
  width: 10%;
  min-width: 200px;
  height: 40px;
  bottom: 80px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  color: var(--text);
  box-shadow: 0px 0px 15px 0px #a984b9 inset;
  transition: all 0.2s ease;
}
.help-btn:hover {
    box-shadow: 0px 0px 15px 0px var(--secondary) inset;
    background-color: var(--secondary);
}
#loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.loading-text {
    position: absolute;
    color: var(--text);
    font-size: calc(30px * var(--font-size));
    font-weight: bold;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}
.info-text {
    position: absolute;
    color: #d8d8d8;
    font-size: calc(25px * var(--font-size));
    font-weight: bold;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}
.button {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    height: 80px;
    width: 260px;
    z-index: 9999;
  }
  
  .button-skip {
    height: 80px;
    width: 260px;
    border: none;
    border-radius: 13px;
    background-color: var(--callAction);
    box-shadow: 0px -3px 15px 0px #a984b9 inset;
    color: var(--text);
    font-size: calc(2.5rem * var(--font-size));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateY(0px);
    transition: all 0.2s ease;
    cursor: pointer;
  }
.button-skip:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px 0px var(--primary) inset;
  }
  

.kinetic {
    height: 80px;
    position: relative;
    width: 80px;
  }
  
  .kinetic::after,
  .kinetic::before {
    animation: rotateA 2s linear infinite 0.5s;
    border: 50px solid transparent;
    border-bottom-color: var(--callAction);
    box-shadow: 0px -3px 15px 0px var(--secondary) inset;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
  }
  
  .kinetic::before {
    animation: rotateB 2s linear infinite;
    transform: rotate(90deg);
  }
  .helper-container {
    position: fixed;
    width: 80%;
    max-width: 600px;
    bottom: 0; /* Ajusta la distancia desde el borde inferior */
    left: 50%;
    transform: translateX(-50%) !important; /* Centra horizontalmente */
    background-color: var(--callAction);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px;
    box-shadow: 0 0 15px 0 var(--secondary);
    border-radius: 10px;
    color: var(--text);
    font-size: calc(1.8rem * var(--font-size));
    box-sizing: border-box;
}

.helper-container {
  /* Otras propiedades */
  animation: fadeInBottomCenter 0.5s ease forwards;
}

@keyframes fadeInBottomCenter {
  from {
      opacity: 0;
      transform: translate(-50%, 50%);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.helper-container.hide {
  animation: fadeOutBottomCenter 0.5s ease forwards;
}

@keyframes fadeOutBottomCenter {
  from {
      opacity: 1;
      transform: translateY(0);
  }
  to {
      opacity: 0;
      transform: translate(-50%, 50%);
  }
}
.helper-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.helper-item {
    text-align: center;
    margin: 20px 0;
    font-size: calc(1.5rem * var(--font-size));
    line-height: 1.5;
}

.helper-shortcuts {
    text-align: center;
    font-size: calc(1.2rem * var(--font-size));
    margin: 20px 0;
}

.helper-shortcuts p {
    font-size: calc(2rem * var(--font-size));
    font-weight: bold;
}

.helper-shortcuts ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.helper-shortcuts li {
  margin: 10px;
}

.close-helper {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--callAction);
    color: var(--text);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;  
    font-size: calc(1.2rem * var(--font-size));
    transition: all 0.2s ease;
}

.close-helper:hover {
    background-color: #561d6d;
    transform: scale(1.05);
}

@media (max-width: 600px) {
    .helper-container {
        width: 90%;
        padding: 15px;
    }

    .helper-item,
    .helper-shortcuts {
        margin: 15px 0;
        font-size: calc(1rem * var(--font-size));
    }
}

@media (max-width: 400px) {
    .helper-container {
        width: 95%;
        padding: 10px;
    }

    .helper-button {
        width: 100%;
        font-size: calc(0.9rem * var(--font-size));
        height: 40px;
    }

    .helper-item,
    .helper-shortcuts {
        margin: 10px 0;
        font-size: calc(0.9rem * var(--font-size));
    }
}
.shortcut-key {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: var(--border);
  border: #000000;
  color: var(--text);
  box-shadow: 0 0 10px 0 var(--secondary);
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
}

@media (max-width: 600px) {
    .helper-container {
        width: 90%;
        padding: 15px;
    }

    .helper-button {
        width: 80%;
    }

    .helper-item,
    .helper-shortcuts {
        margin: 15px 0;
        font-size: calc(1rem * var(--font-size));
    }
}

@media (max-width: 400px) {
    .helper-container {
        width: 95%;
        padding: 10px;
    }

    .helper-button {
        width: 100%;
        font-size: calc(0.9rem * var(--font-size));
        height: 40px;
    }

    .helper-item,
    .helper-shortcuts {
        margin: 10px 0;
        font-size: calc(0.9rem * var(--font-size));
    }
}

@media (max-width: 400px) {
    .helper-container {
        width: 95%;
        padding: 10px;
    }

    .helper-button {
        width: 100%;
        font-size: calc(0.8rem * var(--font-size));
        height: 40px;
    }

    .helper-item {
        margin: 10px 0;
        font-size: calc(0.8rem * var(--font-size));
    }
}
  @keyframes rotateA {
    0%,
    25% {
      transform: rotate(0deg);
    }
    50%,
    75% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotateB {
    0%,
    25% {
      transform: rotate(90deg);
    }
    50%,
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(450deg);
    }
  }
  